
<div id="title">
    <p>{{this.title}}</p>
</div>

<img {{bind-attr src="this.fullimage"}} />

<div id="artists">
    <h4>
	Artists
    </h4>

    {{this.artists}}
</div>

<div id="location">
    <h4>
	Location
    </h4>

    {{this.location}}
</div>

<div id="link">
    <h4>
	Link
    </h4>

    <a {{bind-attr href="this.url"}}>
	Norfolk.gov
    </a>
</div>
